---
import Section from "./Section.astro";
---

<Section
  title="Nate´s Auto Detailing"
  subtitle="Servicio de excelencia hasta tu hogar"
  color="white"
  id="home"
>
  <div slot="footer">
    <a
      class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
      href="#"
    >
      Agenda Ahora!</a
    >
  </div>

  <video
    slot="background"
    class="object-cover object-center w-full h-full"
    autoplay
    muted
    loop
    src="/NatesPage/public/"></video>
</Section>
