<!-- Menú principal -->
<nav class="hidden xl:block sm:block" data-header-color="blue">
  <ul
    class="flex text-sm [&>li>a]:transition-colors [&>li>a]:duration-500 [&>li>a]:text-current [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2"
  >
    <li>
      <a
        class="flex items-center justify-between transition-colors duration-300 hover:text-black menu-item group hover:bg-slate-100"
        href="#exterior"
      >
        Servicio Exterior
        <img
          class="h-5 transition-all duration-500 transform group-hover:translate-x-10 group-hover:grayscale-0 grayscale"
          alt="Icono de Burbuja Azul"
          src="../public/BurbujaAzul.png"
        />
      </a>
    </li>
    <li>
      <a
        class="flex items-center justify-between transition-colors duration-300 hover:text-black menu-item group hover:bg-slate-100"
        href="#interior"
      >
        Servicio Interior
        <img
          class="h-5 transition-all duration-500 transform group-hover:translate-x-10 group-hover:grayscale-0 grayscale"
          alt="Icono de Burbuja Azul"
          src="../public/BurbujaAzul.png"
        />
      </a>
    </li>
    <li>
      <a
        class="flex items-center justify-between transition-colors duration-300 hover:text-black menu-item group hover:bg-slate-100"
        href="#completo"
      >
        Servicio Completo
        <img
          class="h-5 transition-all duration-500 transform group-hover:translate-x-10 group-hover:grayscale-0 grayscale"
          alt="Icono de Burbuja Azul"
          src="../public/BurbujaAzul.png"
        />
      </a>
    </li>
    <li>
      <a
        class="flex items-center justify-between transition-colors duration-300 hover:text-black menu-item group hover:bg-slate-100"
        href="#agenda"
      >
        Agenda Tu Servicio
        <img
          class="h-5 transition-all duration-500 transform group-hover:translate-x-10 group-hover:grayscale-0 grayscale"
          alt="Icono de Burbuja Azul"
          src="../public/BurbujaAzul.png"
        />
      </a>
    </li>
  </ul>
</nav>
