<nav class="flex justify-end flex-grow basis-0" data-header-color="blue">
  <ul
    class="flex text-sm [&>li>a]:transition-colors [&>li>a]:duration-500 [&>li>a]:text-current [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2"
  >
    <li>
      <a class="hover:bg-slate-100 hover:text-black" id="menu-btn" href="#"
        >Menu</a
      >
    </li>
  </ul>
</nav>
