<!-- Menú -->
<nav
  id="modal-menu"
  class="fixed top-0 bottom-0 right-0 transition-transform duration-300 transform translate-x-full bg-white shadow-lg w-80"
  data-header-color="blue"
>
  <button id="close-btn" class="flex justify-end w-screen p-5 z-100">
    <img
      class="h-6 text-black"
      src="../public/close-icon.svg"
      alt="close image"
    />
  </button>
  <ul
    class="flex flex-col mt-4 [&>li>a]:font-size:20px [&>li>a]:transition-colors [&>li]:m-3 [&>li>a]:justify-between [&>li>a]:duration-200 [&>li>a]:text-black [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-6 [&>li>a]:py-3 [&>li>a]:rounded-md [&>li>a]:w-full"
  >
    <li>
      <a class="menu-item hover:bg-slate-100" href="#home">
        Inicio
        <img
          class="h-5 transition-transform duration-300 burbuja-icon"
          alt="Icono de Burbuja Negra"
          src="../public/BurbujaNegra.png"
        />
      </a>
    </li>
    <li>
      <a class="menu-item hover:bg-slate-100" href="#agenda">
        Registrarse
        <img
          class="h-5 transition-transform duration-300 burbuja-icon"
          alt="Icono de Burbuja Negra"
          src="../public/BurbujaNegra.png"
        />
      </a>
    </li>
    <li>
      <a class="menu-item hover:bg-slate-100" href="#agenda">
        Iniciar Sesion
        <img
          class="h-5 transition-transform duration-300 burbuja-icon"
          alt="Icono de Burbuja Negra"
          src="../public/BurbujaNegra.png"
        />
      </a>
    </li>
    <li>
      <a class="menu-item hover:bg-slate-100" href="#exterior">
        Servicios
        <img
          class="h-5 transition-transform duration-300 burbuja-icon"
          alt="Icono de Burbuja Negra"
          src="../public/BurbujaNegra.png"
        />
      </a>
    </li>
    <li>
      <a class="menu-item hover:bg-slate-100" href="#agenda">
        Agenda
        <img
          class="h-5 transition-transform duration-300 burbuja-icon"
          alt="Icono de Burbuja Negra"
          src="../public/BurbujaNegra.png"
        />
      </a>
    </li>
    <li>
      <a class="menu-item hover:bg-slate-100" href="#agenda">
        Galeria
        <img
          class="h-5 transition-transform duration-300 burbuja-icon"
          alt="Icono de Burbuja Negra"
          src="../public/BurbujaNegra.png"
        />
      </a>
    </li>
    <li>
      <a class="menu-item hover:bg-slate-100" href="#agenda">
        Reseñas
        <img
          class="h-5 transition-transform duration-300 burbuja-icon"
          alt="Icono de Burbuja Negra"
          src="../public/BurbujaNegra.png"
        />
      </a>
    </li>
    <li>
      <a class="menu-item hover:bg-slate-100" href="#agenda">
        Contacto
        <img
          class="h-5 transition-transform duration-300 burbuja-icon"
          alt="Icono de Burbuja Negra"
          src="../public/BurbujaNegra.png"
        />
      </a>
    </li>
  </ul>
</nav>
