<!-- Menú -->
<nav
  id="modal-menu"
  class="fixed top-0 bottom-0 right-0 transition-transform duration-300 transform translate-x-full bg-white shadow-lg w-80"
  data-header-color="blue"
>
  <button id="close-btn" class="flex justify-end w-screen p-5 z-100">
    <img
      class="h-6 text-black"
      src="../public/close-icon.svg"
      alt="close image"
    />
  </button>
  <ul
    class="flex flex-col mt-4 [&>li>a]:font-size:20px [&>li>a]:transition-colors [&>li]:m-3 [&>li>a]:justify-between [&>li>a]:duration-200 [&>li>a]:text-black [&>li>a]:font-medium [&>li>a]:px-6 [&>li>a]:py-3 [&>li>a]:rounded-md [&>li>a]:w-full"
  >
    <li>
      <a
        class="flex items-center justify-between transition-colors duration-300 hover:text-black menu-item group hover:bg-slate-100"
        href="#"
      >
        Inicio
        <img
          class="h-5 transition-all duration-500 transform group-hover:-translate-x-10 group-hover:grayscale-0 grayscale"
          alt="Icono de Burbuja Azul"
          src="../public/BurbujaAzul.png"
        />
      </a>
    </li>
    <li>
      <a
        class="flex items-center justify-between transition-colors duration-300 hover:text-black menu-item group hover:bg-slate-100"
        href="#registro"
      >
        Registrarse
        <img
          class="h-5 transition-all duration-500 transform group-hover:-translate-x-10 group-hover:grayscale-0 grayscale"
          alt="Icono de Burbuja Azul"
          src="../public/BurbujaAzul.png"
        />
      </a>
    </li>
    <li>
      <a
        class="flex items-center justify-between transition-colors duration-300 hover:text-black menu-item group hover:bg-slate-100"
        href="#inicio-sesion"
      >
        Iniciar Sesion
        <img
          class="h-5 transition-all duration-500 transform group-hover:-translate-x-10 group-hover:grayscale-0 grayscale"
          alt="Icono de Burbuja Azul"
          src="../public/BurbujaAzul.png"
        />
      </a>
    </li>
    <li>
      <a
        class="flex items-center justify-between transition-colors duration-300 hover:text-black menu-item group hover:bg-slate-100"
        href="#servicios"
      >
        Servicios
        <img
          class="h-5 transition-all duration-500 transform group-hover:-translate-x-10 group-hover:grayscale-0 grayscale"
          alt="Icono de Burbuja Azul"
          src="../public/BurbujaAzul.png"
        />
      </a>
    </li>
    <li>
      <a
        class="flex items-center justify-between transition-colors duration-300 hover:text-black menu-item group hover:bg-slate-100"
        href="#agenda"
      >
        Agenda
        <img
          class="h-5 transition-all duration-500 transform group-hover:-translate-x-10 group-hover:grayscale-0 grayscale"
          alt="Icono de Burbuja Azul"
          src="../public/BurbujaAzul.png"
        />
      </a>
    </li>
    <li>
      <a
        class="flex items-center justify-between transition-colors duration-300 hover:text-black menu-item group hover:bg-slate-100"
        href="#galeria"
      >
        Galeria
        <img
          class="h-5 transition-all duration-500 transform group-hover:-translate-x-10 group-hover:grayscale-0 grayscale"
          alt="Icono de Burbuja Azul"
          src="../public/BurbujaAzul.png"
        />
      </a>
    </li>
    <li>
      <a
        class="flex items-center justify-between transition-colors duration-300 hover:text-black menu-item group hover:bg-slate-100"
        href="#resenas"
      >
        Reseñas
        <img
          class="h-5 transition-all duration-500 transform group-hover:-translate-x-10 group-hover:grayscale-0 grayscale"
          alt="Icono de Burbuja Azul"
          src="../public/BurbujaAzul.png"
        />
      </a>
    </li>
    <li>
      <a
        class="flex items-center justify-between transition-colors duration-300 hover:text-black menu-item group hover:bg-slate-100"
        href="#contacto"
      >
        Contacto
        <img
          class="h-5 transition-all duration-500 transform group-hover:-translate-x-10 group-hover:grayscale-0 grayscale"
          alt="Icono de Burbuja Azul"
          src="../public/BurbujaAzul.png"
        />
      </a>
    </li>
  </ul>
</nav>
