---
import Section from "./Section.astro";

const title = "Servicios";
const subtitle = "Agendar un servicio";
---

<Section title={title} subtitle={subtitle} color="white" id="servicios">
  <!-- Contenedor principal con fondo e imagen -->
  <section class="relative bg-[#13151a] text-white py-16 min-h-screen">
    <div slot="body" class="relative z-20 px-8 mx-auto max-w-7xl">
      <h2 class="text-3xl font-bold text-center">{title}</h2>
      <p class="mt-4 text-lg text-center text-gray-300">{subtitle}</p>
    </div>
  </section>

  <div slot="body" class="grid grid-cols-1 gap-8 mt-12 md:grid-cols-2">
    <!-- Video 1 -->
    <div class="object-cover overflow-hidden rounded-lg shadow-lg">
      <video class="object-cover w-full h-auto" controls>
        <source src="../public/Exterior.mp4" type="video/mp4" />
      </video>
      <p class="mt-4 text-center text-white">Servicio Exterior</p>
    </div>

    <!-- Video 2 -->
    <div class="overflow-hidden rounded-lg shadow-lg">
      <video class="object-cover w-full h-auto" controls>
        <source src="../public/Interior.mp4" type="video/mp4" />
      </video>
      <p class="mt-4 text-center text-white">Servicio Interior</p>
    </div>
  </div>

  <!-- Fotos de antes y después centradas debajo de los videos -->
  <div class="flex justify-center mt-12">
    <section
      slot="before-after"
      class="relative mt-12 overflow-hidden rounded-lg shadow-lg group"
    >
      <!-- Imagen de "Antes" -->
      <img
        src="/Antes.jpeg"
        alt="Antes del servicio"
        class="object-cover w-full h-full transition-opacity duration-300 group-hover:opacity-0"
      />

      <!-- Imagen de "Después" -->
      <img
        src="/Despues.jpeg"
        alt="Después del servicio"
        class="absolute top-0 left-0 object-cover w-full h-full transition-opacity duration-300 opacity-0 group-hover:opacity-100"
      />

      <!-- Texto debajo de las imágenes -->
      <p class="mt-4 text-center text-white">Servicio Completo</p>
    </section>
  </div>

  <img
    slot="background"
    id="bg-image-modely"
    src="/Servicios.jpg"
    alt="Background Servicios"
    class="absolute inset-0 z-0 object-cover w-full h-full pointer-events-none opacity-10"
  />

  <section slot="footer" class="flex justify-center mx-auto mt-12 gap-x-6">
    <a
      class="inline-flex items-center justify-center px-12 py-2 text-sm font-medium text-white transition-colors rounded bg-cyan-700 hover:bg-slate-400 hover:text-white"
      href="#"
    >
      Agendar
    </a>
    <a
      class="inline-flex items-center justify-center px-12 py-2 text-sm font-medium text-black transition-colors bg-white rounded hover:bg-slate-900 hover:text-white"
      href="#"
    >
      Precios
    </a>
  </section>
</Section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    function isEdge() {
      if (
        navigator.userAgent.indexOf("Edge") > -1 ||
        navigator.userAgent.indexOf("Edg") > -1
      ) {
        return true;
      } else {
        return false;
      }
    }

    let imageElement = document.querySelector(
      "#bg-image-modely"
    ) as HTMLImageElement;

    if (isEdge()) {
      imageElement.src = "/Servicios.jpg"; // Ruta corregida
    } else {
      imageElement.src = "/Servicios.webp"; // Ruta corregida
    }
  });
</script>
