---
import Section from "./Section.astro";

const title = "Servicios";
const subtitle = "Conoce nuestros servicios";
---

<Section title={title} subtitle={subtitle} color="white" id="servicios">
  <!-- Contenedor principal con fondo e imagen -->
  <section
    class="relative bg-[#13151a] text-white py-16 min-h-auto overflow-hidden"
  >
    <div slot="body" class="relative z-20 px-8 mx-auto max-w-7xl">
      <h2 class="text-3xl font-bold text-center">{title}</h2>
      <p class="mt-4 text-lg text-center text-gray-300">{subtitle}</p>
    </div>
  </section>

  <!-- Contenedor de Videos y Antes/Después alineados horizontalmente -->
  <div slot="body" class="flex flex-wrap justify-center gap-4 mt-8">
    <!-- Video 1 -->
    <div
      class="w-full max-w-xs mx-auto overflow-hidden shadow-lg sm:max-w-sm lg:max-w-md"
    >
      <div class="relative">
        <video
          id="video-exterior"
          muted
          autoplay
          loop
          class="object-cover w-full max-h-[300px] sm:max-h-[400px] md:max-h-[500px] rounded-2xl"
        >
          <source src="/Exterior.mp4" type="video/mp4" />
        </video>
        <!-- Fondo gris con texto -->
        <div
          class="absolute inset-0 flex items-center justify-center text-white transition-opacity duration-300 opacity-100 bg-black/50"
          id="text-exterior"
        >
          <a class="text-lg" href="#servicioExterior">Servicio Exterior</a>
        </div>
      </div>
    </div>

    <!-- Video 2 -->
    <div
      class="w-full max-w-xs mx-auto overflow-hidden shadow-lg sm:max-w-sm lg:max-w-md"
    >
      <div class="relative">
        <video
          id="video-interior"
          muted
          autoplay
          loop
          class="object-cover w-full max-h-[300px] sm:max-h-[400px] md:max-h-[500px] rounded-2xl"
        >
          <source src="/Interior.mp4" type="video/mp4" />
        </video>
        <!-- Fondo gris con texto -->
        <div
          class="absolute inset-0 flex items-center justify-center text-white transition-opacity duration-300 opacity-100 bg-black/50"
          id="text-interior"
        >
          <a class="text-lg" href="#servicioInterior">Servicio Interior</a>
        </div>
      </div>
    </div>

    <!-- Completo -->
    <div
      class="w-full max-w-xs mx-auto overflow-hidden shadow-lg sm:max-w-sm lg:max-w-md"
    >
      <div class="relative">
        <video
          id="video-completo"
          muted
          autoplay
          loop
          class="object-cover w-full h-full"
        >
          <source src="/completo5.mp4" type="video/mp4" />
        </video>
        <!-- Fondo gris con texto -->
        <div
          class="absolute inset-0 flex items-center justify-center text-white transition-opacity duration-300 opacity-100 bg-black/50"
          id="text-completo"
        >
          <a class="text-lg" href="#servicioCompleto">Servicio Completo</a>
        </div>
      </div>
    </div>
  </div>

  <img
    slot="background"
    id="bg-image-modely"
    src="/Servicios.jpg"
    alt="Background Servicios"
    class="absolute inset-0 z-0 object-cover w-full h-full pointer-events-none opacity-10"
  />

  <!-- Botones -->
  <section slot="footer" class="flex justify-center mx-auto mt-12 gap-x-6">
    <a
      class="inline-flex items-center justify-center px-12 py-2 text-sm font-medium text-white transition-colors rounded bg-cyan-700 hover:bg-slate-400 hover:text-white"
      href="#galeria"
    >
      Galeria de Trabajos
    </a>
    <a
      class="inline-flex items-center justify-center px-12 py-2 text-sm font-medium text-black transition-colors bg-white rounded hover:bg-slate-900 hover:text-white"
      href="#precios"
    >
      Precios
    </a>
  </section>
</Section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    function isEdge() {
      if (
        navigator.userAgent.indexOf("Edge") > -1 ||
        navigator.userAgent.indexOf("Edg") > -1
      ) {
        return true;
      } else {
        return false;
      }
    }

    let imageElement = document.querySelector(
      "#bg-image-modely"
    ) as HTMLImageElement;

    if (isEdge()) {
      imageElement.src = "/Servicios.jpg"; // Ruta corregida
    } else {
      imageElement.src = "/Servicios.webp"; // Ruta corregida
    }
  });
</script>
