---
export interface Props {
  title: string;
  description?: string;
  viewport?: string;
}

const { title, description, viewport } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content={description || "Sitio web oficial de Nate's Detailing."}
    />
    <meta
      name="viewport"
      content={viewport || "width=device-width, initial-scale=1"}
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-gray-900">
    <main class="relative min-h-screen px-0" role="main">
      <slot />
    </main>
  </body>
</html>

<script src="https://apis.google.com/js/api.js" defer></script>

<script>
  window.onload = () => {
    gapi.load("client", async () => {
      try {
        // Inicializa el cliente de la API
        await gapi.client.init({
          apiKey: import.meta.env.VITE_GOOGLE_API_KEY,
          clientId: import.meta.env.VITE_GOOGLE_CLIENT_ID,
          scope: "https://www.googleapis.com/auth/calendar.events",
        });

        // Configuraci贸n para la autorizaci贸n
        const config = {
          client_id: import.meta.env.VITE_GOOGLE_CLIENT_ID,
          scope: "https://www.googleapis.com/auth/calendar.events",
          immediate: false, // Cambia a true si deseas intentarlo sin interacci贸n del usuario
        };

        // Llamada a gapi.auth.authorize con un callback
        gapi.auth.authorize(config, (authResult) => {
          if (authResult && !authResult.error) {
            console.log("Usuario autenticado:", authResult);
          } else {
            console.error("Error en la autenticaci贸n:", authResult.error);
          }
        });
      } catch (error) {
        console.error("Error al inicializar la API de Google:", error);
      }
    });
  };
</script>

<style is:global>
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: cover;
    scroll-behavior: smooth;
    z-index: 1;
  }

  body {
    margin: 0;
    padding: 0;
    z-index: 2;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
